.playlist-creator {

  display: grid;
  grid-template: 4rem 5rem 1fr auto / 1.5rem minmax(150px, 400px) 1px 1px minmax(150px, 400px) minmax(1rem, 1fr);
  gap: 0.5rem;
}

.playlist-creator-heading {
  grid-area: 1 / 2 / 2 / 6;
  margin: 1.2rem 0 0 0;
}

.playlist-creator-heading h2 {
  font-size: 1.4rem;
  margin: 0;
}

.playlist-creator-heading p {
  font-size: 0.83rem;
  margin-top: 0.7rem;
}

.search-bar {
  grid-area: 2 / 2 / 2 / 6;
  align-self: center;
  margin-top: 0.5rem;
}

.search-bar input {
  width: 60%;
  padding: 0.8rem 1rem;
  border: 1px solid #fff;
  border: .5px solid rgb(241, 241, 241);
  border-radius: 20px;
  font-size: 0.73rem;
  font-family: 'Nunito', sans-serif;
  color: rgb(68, 54, 90);
}

.search-bar input:focus {
  outline: none;
}

.search-bar .search-button {
  cursor: pointer;
  position: relative;
  left: -40px;
  top: 2px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.search-bar .search-button img {
  width: 14px;
}

.search-results {
  grid-area: 3 / 2 / 7 / 3;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  padding: 0.88rem;
  min-width: min-content;
  -webkit-box-shadow: 5px 5px 28px 4px rgba(54, 19, 87, 0.048);
  box-shadow: 5px 5px 28px 4px rgba(54, 19, 87, 0.048);
}

.search-results h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.2rem 0 0.5rem 0;
}

.search-results .no-results {
  font-size: 0.73rem;
  color: rgb(68, 54, 90);
}

.new-playlist {
  grid-area: 3 / 5 / 7 / 6;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  padding: 0.88rem;
  
  min-width: min-content;
  -webkit-box-shadow: 5px 5px 28px 4px rgba(54, 19, 87, 0.048);
  box-shadow: 5px 5px 28px 4px rgba(54, 19, 87, 0.048);
}

.new-playlist input {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  outline: none;
  border: 0;
  padding: 0.33rem 0;
  cursor: text;
  color: rgb(104, 57, 180);
  transition: all 0.3s;
}

.new-playlist input:hover {
  color: rgb(16, 3, 37);
}

.new-playlist .save-button {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0.5rem auto;
  cursor: pointer;
  padding: 0.6rem 0.9rem;
  border-radius: 54px;
  border-width: 0px;
  background-color: rgba(22, 190, 16, 0.9);
  text-align: center;
  font-size: .73rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.new-playlist .save-button:hover {
  background-color: rgba(16, 114, 29, 0.9);
}

.new-playlist .save-button img {
  width: 10px;
  margin-right: 0.3rem;
}

.track {
  border-top: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #fff;
  min-width: 16rem;
  transition: background-color .3s;
  cursor: default;
}

.track:hover {
  background-color: rgb(215, 250, 245, 0.5);
}

.track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.66rem;
}

.track-info h3 {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.2rem 0 0 0;
}

.track-info p {
  font-size: 0.73rem;
  font-weight: 300;
  margin: 0.3rem 0;
}

.track img {
  margin: 0.3rem 0;
  border-radius: 5px;
  width: 48px;
}

.track button {
  cursor: pointer;
  padding: 0.5rem 0.77rem;
  margin-left: 0.6em;
  font-size: 1.4rem;
  transition: color .25s;
  background-color: transparent;
  border: 0;
  outline: none;
  color: rgb(44, 169, 190);
}

.track button:hover {
  color: #0f4244;
}

@media only screen and (max-width: 870px) {
  .search-results {
    grid-area: 3 / 2 / 4 / 6;
  }
  .new-playlist {
    grid-area: 4 / 2 / 5 / 6;
  }
}
