.playlist-creator {
  display: grid;
  grid-template: 8rem 5rem 1fr / 1fr minmax(200px, 400px) 5px 5px minmax(200px, 400px) 1fr;
  gap: 1em;
}

.playlist-creator-heading {
  grid-area: 1 / 2 / 2 / 6;
  border: 1px solid black;
  margin: 0;
  padding: 0 2rem;
  text-align: center;
}

.search-bar {
  grid-area: 2 / 1 / 2 / 7;
  text-align: center;
}

.search-bar input {
  width: 16rem;
  padding: .7rem 0;
  margin: 0 0.8em;
  border: 1px solid #fff;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
}

.search-bar input:focus {
  outline: none;
}



.search-button {
  display: block;
  cursor: pointer;
  padding: 0.7em 0.9em;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: rgba(37, 225, 231, 0.9);
  margin: 1rem auto;
  font-size: 1rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 400;
}

.search-button:hover {
  background-color: #179a9e;
}

.search-results {
  grid-area: 3 / 2 / 7 / 3;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  padding: 0.88rem;
}

.search-results h2 {
  font-size: 1.33rem;
}

.new-playlist {
  grid-area: 3 / 5 / 7 / 6;
  border-radius: 5px;
  background-color: white;
  overflow-y: scroll;
  padding: 0.88rem;
}

.new-playlist input {
  width: 100%;
  border: 2px solid rgb(192, 251, 255);
  outline: 0;
  padding: 0.33em;
  cursor: text;
  background: rgb(192, 251, 255);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.33rem;
  color: #fff;
}

.new-playlist input:hover {
  border: 2px solid #179a9e;
}

.new-playlist input:focus {
  border: 2px solid #179a9e;
  background-color: #179a9e;
}

.new-playlist .save-button {
  display: block;
  margin: 1.33rem auto;
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  border-width: 0px;
  background-color: rgba(22, 190, 16, 0.9);
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.new-playlist .save-button:hover {
  background-color: rgba(16, 114, 29, 0.9);
}

.track {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}

.track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-info h3 {
  font-weight: 500;
  font-size: 1.13rem;
  margin-top: 0.8rem;
  margin-bottom: 0.1rem;
}

.track-info p {
  font-size: 0.83rem;
  font-weight: 300;
}

.track button {
  cursor: pointer;
  padding: 0.5rem 0.77rem;
  margin-left: 0.6em;
  font-size: 1rem;
  transition: color .25s;
  background-color: #fff;
  border: 1px solid rgb(44, 169, 190);
  border-radius: 10px;
  color: rgb(44, 169, 190);
}

.track button:hover {
  color: rgba(265, 265, 265, .5);
}