.track-playlist {
  display: grid;
  grid-template: 4rem auto 1fr / 1.5rem minmax(150px, 400px) 1px 1px minmax(150px, 400px) minmax(1rem, 1fr);
  gap: 0.5rem;
}

.top-tracks {
  grid-area: 2 / 2 / 2 / 6;
  padding: 1.5rem 0;
}

.top-track-list {
  display: grid;
  /*grid-template: auto / repeat(2, 1fr);*/
  grid-template: auto / repeat(auto-fill, minmax(250px, 350px));
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: 0.5em;
}

.top-track {
  background-color: #fff;
  padding: 0.5rem 0.7rem 0.5rem 0.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.top-track img {
  border-radius: 5px;
  width: 48px;
  margin-right: 0.7rem;
}

.top-track-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.top-track-info h3 {
  font-weight: 500;
  font-size: 0.9rem;
  margin: 0.2rem 0 0 0;
}

.top-track-info p {
  font-size: 0.73rem;
  font-weight: 300;
  margin: 0.3rem 0;
}

.top-track input[type=checkbox] {
  flex-shrink: 0;
	height: 1.3rem;
	width: 1.3rem;
  cursor: pointer;
  margin-left: 0.6rem;
}

.top-tracks .get-button {
  background-color: rgb(104, 57, 180);
  text-transform: uppercase;
  margin: 1.5rem 0 0 0;
}

.top-tracks .get-button:hover {
  background-color: rgb(16, 3, 37);
}


.filter-button {
  display: block;
  text-transform: uppercase;
  background-color: rgba(37, 225, 231, 0.9);
  margin: 0 auto;
}

.filter-button:hover {
    background-color: #179a9e;
  }

.browse-options {
    margin: 0 20%;
    text-align: center;

}

.browse-options h3 {
    font-weight: 500;
    font-size: 1.13rem;
    margin: 1rem auto;
    text-align: center;
}

.slider {
    border: 1px solid black;
    margin: 1rem auto;
}

.slider label {
    margin: 1rem;
}

.top-tracks .track-action {
  background-color: blue;
}

input[type=range] {
  width: 200px;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #a4c992;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 9.3px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  margin-top: -3.85px;
  width: 13px;
  height: 13px;
  background: #c62a7d;
  border: 0;
  border-radius: 11px;
  cursor: pointer;
  -webkit-appearance: none;
}