/* colors:
font                    #062531
button                  #439cbc
button hover            #114255
light color             #d9edf5
Spotify resting color   #1db954
*/

/* App styles */

.app {
  min-width: min-content;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: 1fr 2rem / 220px 1fr;
  gap: 0.5rem;
  color: #062531;
  background: rgb(27,114,148);
  background: radial-gradient(circle, rgba(27,114,148,1) 0%, rgba(13,66,86,1) 45%, rgba(5,38,51,1) 100%); 
}

footer {
  font-size: 0.63rem;
  font-family: 'Nunito', sans-serif;
  color: rgba(177, 176, 176, 0.705);
  margin-bottom: 0.7rem;
  justify-self: center;
  align-self: flex-end;
}

/* Navbar styles */

.navbar {
  grid-area: 1 / 1 / 3 / 2;
  height: 100%;
  background-color: rgb(250, 250, 250);
  padding: 0 2rem;
  box-shadow: 5px 5px 50px 4px rgba(6, 79, 121, 0.055);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.navbar h1 {
  font-size: 1.7rem;
  text-decoration: none;
  font-family: 'Jaldi', sans-serif;
  height: 5vh;
}

.navbar span {
  color: rgba(27,114,148,1);
}

.navbar a {
  text-decoration: none;
  color: #062531;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0.6rem 0;
  font-size: 0.93rem;
  font-weight: 600;
  transition: all 0.1s;
  font-family: 'Nunito', sans-serif;
}

li:hover {
  cursor: pointer;
  font-weight: 800;
}

.selected {
  font-weight: 800;
}

/* Button styles */

.rounded-button {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  padding: 0.6rem 0.9rem;
  border-radius: 50px;
  border-width: 0px;
  transition: background-color .25s;
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 0.73rem;
}

.connect-button {
  background-color: #1db954;
  box-shadow: 5px 5px 35px 4px rgba(6, 79, 121, 0.075);
  margin-top: auto;
  margin-bottom: 2.5rem;
}

.connect-button:hover {
  background-color: #21d861;
}

.connect-button img {
  width: 10px;
  margin-right: 0.3rem;
}

/* Start page and About page styles */

.start, .about {
  justify-self: center;
  margin-top: 5rem;
  padding: 1rem;
  height: fit-content;
  width: 60%;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  border-radius: 10px;
  text-align: center;
}

.start h2 {
  font-weight: 800;
  font-size: 1.4rem;
  margin: 0.7rem;
}

.start p {
  font-size: 0.83rem;
  margin: 0.3rem auto;
  line-height: 1.4;
  max-width: 350px;
}

/* Media queries */

@media only screen and (max-width: 870px) {
  .app {
    grid-template: 3.5rem 1fr 3rem / 1fr;
  }

  .navbar {
    grid-area: 1 / 1 / 2 / 1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navbar h1 {
    font-size: 0.9rem;
    width: 25%;
    height: fit-content;
  }

  .navbar nav {
    width: 50%;
    padding: 0.3rem;
    white-space: nowrap;
    justify-content: center;
    height: fit-content;
  }

  ul {
    text-align: right;
  }

  li {
    display: inline-block;
    font-size: 0.63rem;
    padding: 0 0.4rem;
  }

  .connect-button {
    width: fit-content;
    margin: 0;
    margin-left: auto;
  }
}

@media only screen and (max-width: 450px) {
  .app {
    grid-template: 5.5rem 1fr 3rem / 1fr;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .connect-button {
    margin: 0 auto;
  }
  .navbar nav {
    width: 70%;
    justify-content: center;
  }
}